#imagesSection{
    display: inline-block;
   margin-left: 340px;
  /* padding: 20px;
    width: 70%;
    height: 150px;
    max-width: 30px;
    margin: 45px; */
}
#result{
    font-family: cursive;
    font-size: x-large;
    background-color: coral;
    text-align: center;

}
#title{
    text-align: center;
    font-size: 80px;
    font-family: monospace;
    color: blanchedalmond;
    background-color: cadetblue;
}
#par{
    font-size: 62px;
    color: crimson;
    background-color: darkgray;
    margin: 100px;
}
canvas{
    margin: 20px;
    float: left;
}
body{
    background-color:plum;
}
#leftImage{
margin-left: 15px;
border: 12px solid orangered;
}

#middleImage{
    margin-left: 15px;
    border: 12px solid orangered;
    }
    
    #rightImage{
        margin-left: 15px;
        border: 12px solid orangered;
        }
          